.container{
    width: 100%;
    background-color: white;
    padding: 8rem;
}

.titlu{
    position: relative;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sageata{
    position: absolute;
    left: 2rem;
    top: 6rem;
    cursor: pointer;
    display: block;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    margin-right: 5rem;
}

h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.c-proiecte{
    padding: 3rem 10rem 3rem 10rem;
}

.c-proiecte div{
    margin: 1rem;
}


@media screen and (max-width: 1100px) {
    .container{
        padding: 3rem;
    }

}
@media screen and (max-width: 800px) {
   
}

@media screen and (max-width: 500px) {
    
    .container{
        padding: 1rem;
    }

}